body {
    padding: 1em 3em;
    background: linear-gradient(137deg, rgba(225,2,2,1) 0%, rgba(191,145,34,1) 89%);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-weight: bold;
    height: 100vh;
}
.float-right {
    float: right;
}
button {
    position: relative;
    padding: 1em 2em;
    border: 0px;
    border-radius: 5px;
    background-color: #141941;
    color: white;
    font-weight: bold;
    z-index: 1;
}
button:hover {
    cursor: pointer;
    background-color: #0c0f29;
    transition: background-color .5s;
}
#hide {
    display: none;
    margin-top: 10em;
}
#skipQ {
    display: none;
}
#skipQ:disabled {
    background-color: #dddddd;
    cursor: not-allowed;
}
.game {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 3em;
}
.cards {
    display: inline-flex;
}
h1 {
    text-align: center;
}
.game button {
    text-align: center;
    width: 20%;
    height: 100px;
    padding-top: 40px;
}
.gameResult {
    display: none;
    margin-top: 10em;
}
#gameResultText {
    margin-top: 5em;
}