$bodyBackgroundColor: #ffffff;
$headerBackgImage: url('../img/m-h-day.jpg');
$lineHeight: 1.6em;
$textColor: white;
$color: #2c2f3c; 
$buttonColor: #699900;
$cardBackgroundC: #21232e;
$sectionBannerBackgColor: rgb(103,151,4);
$sectionBannerBackgGradient: linear-gradient(49deg, rgba(103,151,4,1) 0%, rgba(44,90,218,1) 100%); 
$footerBackgColor: #21232e;
$images: 1, 2, 3;
$font-sizes: ("xsmall": 8px, "small": 12px, "normal": 16px, "large": 18px);
$spanBackgColor: #14a0c7;