$bodyBackgroundColor: #21232e;
$headerBackgImage: url('../img/m-h-night.jpg');
$textColor: #ffffff;
$color: #ffffff;
$lineHeight: 1.6em;
$buttonColor: #e3ac00;
$cardBackgroundC: #3b3f50;
$sectionBannerBackgColor: rgb(225,169,2);
$sectionBannerBackgGradient: linear-gradient(49deg, rgba(225,169,2,1) 0%, rgba(148,46,81,1) 100%);
$footerBackgColor: #3b3f50;
$images: 1, 2, 3;
$font-sizes: ("xsmall": 8px, "small": 12px, "normal": 16px, "large": 25px);
$spanBackgColor: #ff4e33;