/*
* Colors references

header bg-color: #99ccff;
footer bg-color: #162b4d;
header hover: #162b4d;
text color: #484848;

.post-1 {
  background: #F3D250;
}
.post-2 {
  background: #8D8741;
}
.post-3 {
  background: #659DBD;
}
.post-4 {
  background: #DAAD86;
}

* Feel free to add new colors if you need it
*/


/* Your styles go here */
/* DESKTOP min 1280 */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
h2 {
  font-weight: 100;
}
/* NAVBAR */
.navbar {
  margin: 0;
  background-color: #99ccff;
  margin-bottom: 1em;
}
.hamburger {
  display: none;
}
.hamburger .hamburger_line {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}
.navbar span {
  color: #484848;
}
.navbar_container {
  margin: 0 2em;
  height: 4em;
  display: flex;
  justify-content: space-between;
}
.navbar_logo {
  display: flex;
  height: 100%;
  align-items: center;
}
.menu {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
}
.menu ul {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}
.menu li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
.menu a {
  text-decoration: none;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5em;
}
.menu a:hover {
  background-color: #162b4d;
}
/* HEADER */
.header {
  background: url("../img/section1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  margin-bottom: 1em;
}
.header .header_container {
  padding-top: 10em;
  margin: 0 1em;
}
/* MAIN */
.main {
  color: #484848;
  padding-bottom: 3em;
}
.main .container {
  margin: 0 2em;
}
.main .card h2 {
  margin-top: .2em;
}
.main .card h1 {
  font-weight: 100;
  margin-top: 10px;
}
.main .date h1 {
  margin: 0;
  margin-top: .5em;
}
.main .date h2 {
  margin-top: 0;
}
.main_left{
  display: inline-block;
  width: 65%;
  margin-right: 1%;
}
.main .left_grid_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  padding: 0px;
}
.card .item2, .item6 {
  text-align: left;
}
.card.item3,.item7 {
  text-align: right;
}
.main_left .item1 {
  background: url("../img/post1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_left .item2 {
  background-color: #F3D250;
}
.main_left .item3 {
  background-color: #8D8741;
}
.main_left .item4 {
  background: url("../img/post2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_left .item5 {
  background: url("../img/post3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_left .item6 {
  background-color: #659DBD;
}
.main_left .item7 {
  background-color: #DAAD86;
}
.main_left .item8 {
  background: url("../img/post4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card_text {
  display: flex;
  justify-content: space-between;
}
.card_text .text {
  width: 75%;
}
.card_text .date {
  width: 15%;
  text-align: center;
}
.item3 .card_text, .item7 .card_text {
  flex-direction: row-reverse;
} 
.main .left_grid_container > div {
  padding: 0 1em 4em 1em;
}
/* MAIN RIGHT */
.main_right {
  display: block;
  float: right;
  width: 34%;
}
.main_right h1,p {
  font-weight: 100;
}
.main_right .texts {
  padding: 0 1.5em;
}
.main .right_grid_container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0px;
  padding: 0px;
}
.main .right_grid_container > div {
  padding: 0 0;
  border: 1px solid black;
  margin-bottom: 1.2em;
}
.main_right .item1 .background_img {
  background: url("../img/news1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.main_right .item2 .background_img {
  background: url("../img/news2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.main_right .button {
  font-size: 16px;
  border-radius: 0;
  border: 1px solid black;
  background-color: white;
  padding: .2em .5em;
  margin-bottom: 2em;
  margin-top: 1em;
}
/* FOOTER */
.footer {
  background-color: #162b4d;
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  width: 100%;
}
.footer .left {
  margin: 1.2em 0;
  align-items: center;
}
.footer .right {
  display: flex;
  align-items: center;
}
.footer .container p {
  margin: 5px;
}

/* MOBILE < */
@media only screen and (max-width: 768px) {
  /* NAVBAR MENU */
  .hamburger {
    display: block;
  }
  .navbar .menu ul {
    display: none;
  }
  .navbar_container {
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
  }
  /* HEADER */
  .header {
    height: 60vh;
  }
  .header .header_container {
    padding-top: 8em;
  }
  .header h2 {
    font-size: 3em;
  }
  /* MAIN */
  .main .container {
    margin: 0 .5em;
  }
  .main_left .left_grid_container {
    display: grid;
    grid-template-columns: auto;
  }
  .main_left {
    display: block;
    width: 100%;
    margin-right: auto;
  }
  .main_right {
    float: none;
    width: 100%;
    margin-top: 1.5em;
  }
  .main .card {
    height: auto;
  }
  .main .card_pic {
    height: 200px;
  }
  .main .item1 {
    order: 1;
  }
  .main .item2 {
    order: 2;
  }
  .main .item3 {
    order: 4;
  }
  .main .item4 {
    order: 3;
  }
  .main .item5 {
    order: 5;
  }
  .main .item6 {
    order: 6;
  }
  .main .item7 {
    order: 8;
  }
  .main .item8 {
    order: 7;
  }
  .card_text {
    display: block;
  }
  .date h1 {
    display: inline-block;
  }
  .date h2 {
    display: inline-block;
  }
  .card_text .date {
    width: auto;
  }
  .card_text .text {
    width: auto;
    margin: 1em 1em;
  }
  .card_text {
    text-align: left;
    font-size: 18px;
  }
  /* FOOTER */
  .footer .container {
    display: block;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
  }
  .footer .right {
    display: block;
  }
}
/* TABLET min 768 */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  /* NAVBAR MENU */
  .hamburger {
    display: block;
  }
  .navbar .menu ul {
    display: none;
  }
  .navbar_container {
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    padding-top: 2em;
  }
  /* HEADER */
  .header {
    height: 50vh;
  }
  .header .header_container {
    padding-top: 3em;
  }
  .header h2 {
    font-size: 3em;
  }
  .header p {
    font-size: 1em;
  }
  /* MAIN */
  .main_left .left_grid_container {
    display: grid;
    grid-template-columns: auto;
  }
  .main .card {
    height: auto;
  }
  .main .card_pic {
    height: 300px;
  }
  .main .item1 {
    order: 1;
  }
  .main .item2 {
    order: 2;
  }
  .main .item3 {
    order: 4;
  }
  .main .item4 {
    order: 3;
  }
  .main .item5 {
    order: 5;
  }
  .main .item6 {
    order: 6;
  }
  .main .item7 {
    order: 8;
  }
  .main .item8 {
    order: 7;
  }
  .card_text {
    display: block;
  }
  .date h1 {
    display: inline-block;
  }
  .date h2 {
    display: inline-block;
  }
  .card_text .date {
    width: auto;
  }
  .card_text .text {
    width: auto;
    margin: 1em 1em;
  }
  .card_text {
    text-align: left;
    font-size: 18px;
  }
  /* FOOTER */
  .footer .container {
    display: block;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
  }
  .footer .right {
    display: block;
  }
}
@media only screen and (min-width: 1280px) {
  
}
